@keyframes move-pic {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0px);
  }
}

.header__logo-pic {
  animation: move-pic linear 3s infinite;
}
