.cover {
  background-image: url(../../../images/station.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1184px;
  width: 100%;
  box-sizing: content-box;
}
