.popup__close-button {
  background-image: url(../../../images/icons/close-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 32px;
  min-height: 32px;
  background-color: initial;
  position: absolute;
  top: -41px;
  right: -39px;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
    min-width: 20px;
    min-height: 20px;
    top: -35px;
    right: 0;
  }
}
